
#navBar{
    background-color:maroon!important;
    margin-top:-100px;
}

#logoText{   
    font-size:3.5em!important;
    color:black!important;
}
.menuItems{
    font-size:18px;
}

.mat-drawer{
    min-width:250px;
    padding:20px;
    
}
.mat-drawer .mat-button {
    display:block;
    width:100%;
    text-align: left;
}
.full-width{
    width:100%;
}
.filler{
    flex: 1 1 auto;
}
mat-icon{
    font-size:40px;
    width:100%;
}
#bookBtn{
    background-color: transparent;
    border:1px solid maroon;
    font-size: 20px;
}
mat-toolbar{
    background-image: url('../../assets/background.jpg');
    padding:10px;
    background-size: cover;
    background-position: center;
    min-height:90px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.35);
    padding-bottom: 0;
}
mat-toolbar-row{
    height:80px;
    display:flex;
    align-content: center;
}

.small-icon{
    font-size:22px;
    width:25%;
    color:maroon;
}

.menuItems.active-link {
    border:1px solid white;
}
.icons{
    width:40px;
    cursor:pointer;
}
.userAvatar {
    height:60px;
    width:48px;
    border-radius:50%;
    object-fit: cover;
    cursor: pointer;
    margin: auto;
}

.iconBoxes{
    display: flex; align-items: center; justify-content: center; padding:0!important; min-width:60px;
}

@media only screen and (max-width:1000px){
    #logoContainer{
        top:13%!important;
    }
    #headerImg{
        height:55%!important;
    }
    #pcHeader, #logo{
        max-height:110px!important;
    }
    #navBar{
        margin-top:-5px;
    }
    #logoContainer{
        font-size:0.7em;
    }
    #mobileOnlyLinks{
        display:inline-block!important;
    }
   
}
@media only screen and (max-width:700px){
    
    #headerImg{
        height:40%!important;
        margin-left: 0!important;
    }
    .mat-toolbar{
        padding:0!important;
        min-height:80px!important;
    }
    .userAvatar {
        height:50px;
        width:40px;
    }
    .nav-item{
        min-width:23%;
        max-width:25%;
        padding:0;
        text-align: center;
        display:flex;
        justify-content: center;
        font-size: 0.7em;
    }
    .matToolBar2{
        padding:0;
    }
    
    
}