<mat-drawer-container class="containerX" autosize>
  <mat-drawer #drawer class="sidenav" [autoFocus]="false">
      <a mat-button *ngIf="userLoggedIn" (click)="drawer.close()" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="nav-item menuItems nav-link text-left" id="listLink" routerLink="Book">
        <mat-icon class="small-icon">sports_golf</mat-icon>Book
      </a>
      <a mat-button *ngIf="userLoggedIn" (click)="drawer.close()" routerLinkActive="active-link" class="nav-item menuItems nav-link text-left" id="addLink" routerLink="LMC">
        <mat-icon class="small-icon">timelapse</mat-icon>LMC
      </a>
      <a mat-button class="nav-item menuItems nav-link text-left" (click)="drawer.close()" routerLinkActive="active-link" id="inviteLink" routerLink="Buddy-List">
        <mat-icon class="small-icon">emoji_people</mat-icon>Buddy List
      </a>
      <a mat-button *ngIf="userLoggedIn" (click)="drawer.close()" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="nav-item menuItems nav-link text-left" id="regLink" routerLink="Book/All">
        <mat-icon class="small-icon">golf_course</mat-icon>My Bookings
      </a>
      <a mat-button *ngIf="userLoggedIn" (click)="drawer.close()" routerLinkActive="active-link" class="nav-item menuItems nav-link text-left" id="tripsLink" routerLink="User/Edit">
        <mat-icon class="small-icon">edit</mat-icon>Edit Profile
      </a>
      <a mat-button *ngIf="loggedUser && loggedUser.isAdmin" (click)="drawer.close()" routerLinkActive="active-link" class="nav-item menuItems nav-link text-left" id="adminLink" routerLink="Admin">
        <mat-icon class="small-icon">supervisor_account</mat-icon>Admin
      </a>
      <a mat-button *ngIf="userLoggedIn" (click)="[logout(), drawer.close()]" class="nav-item menuItems nav-link text-left" id="logoutLink">
        <mat-icon class="small-icon">exit_to_app</mat-icon>Logout
      </a>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar *ngIf="currentURL != '/' && currentURL != '/Login'">
      <mat-toolbar-row>
          <button mat-icon-button (click)="drawer.toggle()" *ngIf="loggedUser">
            <mat-icon>menu</mat-icon>
          </button>
          <img class="ml-3" id="headerImg" src="../assets/clubegheader.png" style="height:100%;">
          <span class="filler"></span>
          <div *ngIf="loggedUser">
            <div class="row">
              <div class="col-6 iconBoxes">
                <mat-icon class="icons" routerLink="User/Messages" matBadge="{{ numUserMessages }}" matTooltip="Review your messages">message</mat-icon>
              </div>
              <div class="col-6 iconBoxes" mat-con-button [matMenuTriggerFor]="userMenu">
                <img *ngIf="loggedUser.pic != null" class="img-thumbnail userAvatar" [src]="'data:image/jpeg;base64,' + loggedUser.pic">
                <mat-icon *ngIf="loggedUser.pic === null" style="font-size:60px; cursor:pointer; height:60px; margin:auto;">account_circle
                </mat-icon>
              </div>
              <mat-menu #userMenu class="p-3">
                <h6 class="text-center" style="font-weight:bold;">{{ loggedUser.firstName }}</h6>
                <button mat-button (click)="openMemberDialog()">View Member Card</button><br>
                <button routerLink="User/Edit" mat-button>Edit Profile</button><br>
                <button mat-button (click)="logout()">Logout</button>
              </mat-menu>
            </div>


          </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
</mat-drawer-container>

