<div class="container-fluid">

  <div class="row">
    <div class="col-12 col-lg-3 pl-0">
      <app-admin-nav></app-admin-nav>
    </div>

    <div class="content container text-center pt-4 col-12 col-lg-9">

      <div *ngIf="loading === true">
        <mat-spinner class="mx-auto d-block mt-2"></mat-spinner>
        <h6 class="mt-2 text-center">Loading...</h6>
      </div>

      <div *ngIf="loading === false;">
        <h2 class="text-center">Golf Bookings ({{ bookings.length }})</h2>
        <br>
        <table class="table">
          <tr class="text-center">
            <th class="text-left">Date</th>
            <th>Course</th>
            <th>Event</th>
            <th>Comments</th>
            <th>Players</th>
            <th>Created By</th>
            <th>Tee Times</th>
            <th>Edit</th>
          </tr>
          <tr class="text-center" *ngFor="let booking of bookings">
            <td class="text-left align-middle">{{ booking.displayDate }}</td>
            <td class="align-middle">{{ booking.courseName }}</td>
            <td class="align-middle">{{ booking.eventName }}</td>
            <td class="align-middle">{{ booking.comments }}</td>
            <td class="align-middle">{{ booking.numPlayers }}</td>
            <td class="align-middle">{{ booking.updatedByName }}</td>
            <td class="align-middle"><button class="btn btn-outline-secondary">View</button></td>
            <td><button class="btn btn-primary">Edit</button></td>
          </tr>
        </table>
      </div>

    </div>

  </div>

</div>
