
<mat-card>
  <div style="background-color:white; border-top-left-radius:6px; border-top-right-radius:6px;" class="p-3">
    <img class="ml-3 mx-auto d-block" id="headerImg" src="../assets/logo.png" style="height:80px;">
  </div>
  <mat-card-content class="p-3" style="color:white;">
    <img *ngIf="memberData.pic" class="bigAvatar mx-auto d-block mb-3 mt-3" [src]="'data:image/jpeg;base64,' + memberData.pic">
    <mat-icon *ngIf="!memberData.pic" class="mx-auto d-block mb-3 mt-3" style="font-size:80px; height:80px; padding-right:80px;">account_circle</mat-icon>
    <h2 class="text-center">{{ memberData?.firstName + " " + memberData?.lastName }}</h2>
    <h3 class="text-center">{{ memberData?.memberNumber }}</h3>
  </mat-card-content>
  <mat-card-actions class="pb-3">
    <button (click)="close()" class="mx-auto d-block" color="primary" mat-raised-button>Close</button>
  </mat-card-actions>
</mat-card>
