mat-card{
    width:80vw; overflow-y: auto; overflow-x: hidden; position:absolute; top:10vh; left:10vw; height:80vh; border-top-left-radius:6px; border-top-right-radius:6px; padding: 0;
}
mat-card-header{
    background-color:#37474F;
    color:white;
}
mat-card-content{
    background-color: white;
}
.userAvatar {
    height:60px;
    width:48px;
    border-radius:50%;
    object-fit: cover;   
}
.tags {
    font-weight: bold;
    margin-top:1px;
}