<mat-tab-group>
  <!--indidual booking-->
  <mat-tab label="Book Individual">
    <form [formGroup]="formIndividual" (ngSubmit)="submitForm(formIndividual.value, 'indiv')">
      <mat-form-field>
        <mat-label>Course</mat-label>
        <mat-select formControlName="course">
          <mat-option *ngFor="let course of courses" [value]="course.id">{{ course.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="datepicker" (click)="datepicker.open()" (dateChange)="onDateChange()" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker (dateChange)="onDateChange()"></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tee Time</mat-label>
        <input matInput readonly formControlName="teeTime" (click)="openTeeTimeDialog('indiv')">
        <button mat-button type="button" (click)="openTeeTimeDialog('indiv')" matSuffix>Get</button>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Comments</mat-label>
        <textarea matInput formControlName="comments"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!formIndividual.valid" type="submit">Save</button>
    </form>
  </mat-tab>
  <!--group booking-->
  <mat-tab label="Book Group">
    <form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value, 'group')">
      <mat-form-field>
        <mat-label>Course</mat-label>
        <mat-select formConrolName="course">
          <mat-option *ngFor="let course of courses" value="course.id">{{ course.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Event Name</mat-label>
        <input matInput formConrolName="eventName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="datepicker2" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
        <mat-datepicker #datepicker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label># of tee times</mat-label>
        <mat-select>
          <mat-option [value]="num" *ngFor="let num of nums100">{{ num }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button type="button" (click)="openTeeTimeDialog('group')">Get Tee Times</button>
      <mat-form-field>
        <mat-label>Comments</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!formGroup.valid" type="submit">Save</button>
    </form>
  </mat-tab>
  <mat-tab label="View Admin Bookings">
    <app-admin-all-bookings></app-admin-all-bookings>
  </mat-tab>
</mat-tab-group>

