label{
    color:navy;
    font-weight:bold;
}

.table th{
    background-color:maroon;
    color:white;
    border-top:2px solid black;
    border-bottom:2px solid black;
}
.mat-form-field{
    width:100%;
}
form{
    background-color:white;
    padding:10px;
}