/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@imort url("https://fonts.googleapis.com/css?family=Iceland|Monoton");

*{
    font-family: 'Iceland';
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.content{
    min-height: calc(100vh - 90px);
    background-color:#fafafa;
    margin-left:0!important;
    margin-right:0!important;
    width:100%;
    margin-top:2px;
    position: relative;
}
.buddy-list-names{
    background-color: #f0f1f2;
    border-radius:4px;
    padding-right:5px;
    border: 1px solid rgba(55, 71, 79, 0.6);
}

.tableHeaders{
    background-color:#d0e1f9;
    border-top:1px solid #283655!important;
    border-bottom:1px solid #283655;
}
.mat-header-row{
    color:navy!important;
    border-bottom:2px solid #21a0c4;
}
.mat-header-cell{
    color:#21a0c4!important;
    font-size:16px!important;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, 
.mat-step-header .mat-step-icon-state-edit {
    color: white!important;
}
.blueText{
    color:#21a0c4;
}

.cursor{
    cursor: pointer;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
  height:100%;
  width:100%;
  border-radius: 10px;
}


@media only screen and (min-width:900px){
/* blue box border */
    body{
        margin-top:10px!important;
        margin-left:60px!important;
        margin-right:60px!important;
        margin-bottom:10px!important;
        background-color:white!important;
    }  
    html{
        background-color:black!important;
    }

}

